/* Classes da página selimg.html*/

.hidden {
    display: none;
  }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(225, 222, 199);
    text-align: center;
    position: relative;
    width: 100%;
}

.title {
    color: white;
    width: 100%;
    background-color: rgb(35, 32, 24);
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
}

.banner {
    height: 480px;
    overflow: hidden;
}

/*.Image {
   position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
}*/


.Image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.Image {
    width: 100%;
    height: auto; /* ajusta a altura automaticamente para manter a proporção da imagem */
    object-fit: contain;
}


.Link-encontrado {
    color: #FFFFFF; /* Altere para a cor desejada */
    position: fixed; /* ou 'relative', 'fixed', 'sticky' */
    top: 45px; /* Distância do topo da janela/elemento pai */
    left: 55px; /* Distância da esquerda da janela/elemento pai */
}

.ButOk {
    padding: 9px 10px;
    background-color: rgb(35, 32, 24);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;

    /* Para alterar a posição do botão*/
    position: fixed; /* ou 'relative', 'fixed', 'sticky' */
    top: 5px; /* Distância do topo da janela/elemento pai */
    left: 47px; /* Distância da esquerda da janela/elemento pai */

}

.ButOk:hover {
    background-color: #2ab53a;
    color: white;
}

.ButCan {
    padding: 9px 10px;
    background-color: rgb(35, 32, 24);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;

     /* Para alterar a posição do botão*/
     position: fixed; /* ou 'relative', 'fixed', 'sticky' */
     top: 5px; /* Distância do topo da janela/elemento pai */
     left: 100px; /* Distância da esquerda da janela/elemento pai */

}

.ButCan:hover {
    background-color: #2ab53a;
    color: white;
}


.items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.close:hover {
    color: #f44336;
    font-weight: bolder;
}