/* Classes da página index.html*/

.hidden {
    display: none;
  }

body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(225, 222, 199);
}

header {
    background-color: rgb(225, 222, 199);
    text-align: center;
    position: relative;
    width: 100%;
}

.title {
    color: white;
    width: 100%;
    background-color: rgb(35, 32, 24);
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
}

.banner {
    height: 480px;
    overflow: hidden;
}

.banner img {
    margin: 0px 0px 0px 0px;
    width: 100%;
}

.link-Readme_Front {
    color: red;
    font-size: 16px;
    position: relative;
    left: -40px;  
}

.newItem {
    background-color: rgb(225, 222, 199);
    padding: 30px 40px;
    color: white;
    display: flex;
    justify-content: center;
}

.newItem:after {
    content: "";
    display: table;
    clear: both;
}

#newInput {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 30%;
    padding: 10px;
    font-size: 16px;
}

#newQuantity {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 30%;
    padding: 10px;
    font-size: 16px;
}

#newPrice {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 10%;
    padding: 10px;
    font-size: 16px;
}

#newTipo {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 10%;
    padding: 10px;
    font-size: 16px;
}

#newLink {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 20%;
    padding: 10px;
    font-size: 16px;
}

.addBtn {
    padding: 9px 10px;
    background-color: rgb(35, 32, 24);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

.addBtn:hover {
    background-color: #2ab53a;
    color: white;
}

.items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.close:hover {
    color: #f44336;
    font-weight: bolder;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 18px;
    transition: 0.2s;
    text-align: center;
}

table{
    background-color: white;
    width: 93%;
}

tr:nth-child(odd){
    background-color: #eee;
}

th:nth-child(1){
    width: 25%;
}

th:nth-child(2){
    width: 25%;
}

th:nth-child(3){
    width: 10%;
}

th:nth-child(4){
    width: 10%;
}

th:nth-child(5){
    width: 20%;
}

th:nth-child(6){
    width: 3%;
}

tr:hover {
    background: rgb(200, 199, 199);
}

/* Classes da página Readme_front.html*/

.title_readme {
    color: white;
    width: 100%;
    background-color: black;
    width: 1425px;
    left: 0px;
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
    font-size: 16px
}

.title_readme h1 {
    text-align: center;
}

.banner_readme {
    position: absolute;
    top: 0;
    left: 0;
    width: 215px;
    height: 270px;
    background-color: black;
    overflow: visible;
}

.banner_readme img {
    max-width: 100%;
    max-height: 100%;
    display: hidden;
    border: 2px solid black;
}

.dados_pessoais p1 {
    color: black;
    position: absolute;
    top: 104px;
    left: 230px;
    font-size: 25px;
}

.dados_pessoais p2 {
    color: black;
    position: absolute;
    top: 147px;
    left: 230px;
    font-size: 25px;
}

.dados_pessoais p3 {
    color: black;
    position: absolute;
    top: 190px;
    left: 230px;
    font-size: 25px;
}

.dados_pessoais p4 {
    color: black;
    position: absolute;
    top: 233px;
    left: 230px;
    font-size: 25px;
}

.vídeo {
    position: absolute;
    /*width: 640;
    height: 800;*/
    top: 90px;
    left: 805px;
    /*width: 100%;
    height: 100%;
    width="640" height="240"*/
}

.dados_readme h1 {
    color: black;
    position: absolute;
    top: 285px;
    left: 15px;
    font-size: 20px;
}

.dados_readme p1 {
    color: black;
    position: absolute;
    top: 355px;
    left: 25px;
    right: 25px;
    width: 50%;
    font-size: 16px;
    text-align: justify;
}

.dados_readme p2 {
    color: black;
    position: absolute;
    top: 455px;
    left: 25px;
    right: 25px;
    width: 50%;
    font-size: 16px;
    text-align: justify;
}

.dados_readme p3 {
    color: black;
    position: absolute;
    top: 525px;
    left: 25px;
    right: 25px;
    width: 50%;
    font-size: 16px;
    text-align: justify;
}

.dados_readme p4 {
    color: black;
    position: absolute;
    top: 630px;
    left: 25px;
    right: 25px;
    width: 50%;
    font-size: 16px;
    text-align: justify;
}

.dados_readme p5 {
    color: black;
    position: absolute;
    top: 680px;
    left: 25px;
    right: 25px;
    width: 50%;
    font-size: 16px;
    text-align: justify;
}